private/
.svn
*.log
*.pot
*.pyc
*.db
*.hist
*.cache
*.plist
*.swp

### ============================= Stow Targets ============================= ###
albert/**/*.db
albert/**/*version
calibre/.config/calibre/caches/
calibre/.config/calibre/*.pickle
calibre/.config/calibre/*.json
cinnamon/.cinnamon/backgrounds/
cinnamon/.cinnamon/spices.cache/
enpass/.config/sinew.in/Enpass.conf.*
ranger/.local/share/ranger/history
vim/.cache
vim/**/pack/minpac
vim/**/tpope
vim/**/.*hist
vim/**/*.swp

### =============================== Windows ================================ ###
*.exe
*.exe~
*.dll

### ================================= OSx ================================== ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### ================================ Linux ================================= ###
*~

# temporary files which can be created if a process still has a handle open of 
# a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*
.desktop

# .nfs files are created when an open file is removed but can be still accessed
.nfs*

### ================================= IDEs ================================= ###
.idea/
.vscode/
.history
.dist/

